@import "colors.css";

#power {
  margin: 4px 5px;
  padding: 6px 20px;
  background-color: @container;
  border-radius: 20px;
  color: @text;
}

#backlight {
  margin: 4px 4px;
  padding: 0 6px 0 6px;
}

#battery {
  padding: 0px 4px;
}

